<a href="https://colab.research.google.com/github/frarebolledor/taller_eiv/blob/main/1_Ejercicio_Extracci%C3%B3n_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio de Extracci√≥n de Datos

En este ejercicio vamos a implementar el proceso de Extracci√≥n de una *ETL* para evaluar las brechas de consultas de especialidad en 2021 en el Servicio de Salud Metropolitano Sur Oriente. Para ello necesitamos:

1. Dise√±ar el √°rea de trabajo (carpetas)
  - üìÇ **Datos originales**: para este ejercicio usaremos https://github.com/rlagosb/taller_eiv/tree/main/data
  - üìÇ **Datos crudos**: crearemos una carpeta en el ambiente de Colab
  - üìÇ Datos normalizados (ejercicio 2)
  - üìÇ Datos an√°lisis (ejercicio 3)
2. Configurar el √°rea de trabajo del script de Extracci√≥n
3. Cargar archivos desde la carpeta de Datos originales
4. Filtrar campos o filas innecesarios
5. Guardar los extractos en Datos crudos

# Configuraci√≥n del √°rea de trabajo

In [6]:
# Importar librer√≠as
import pandas as pd
import os

In [7]:
# Definir carpetas de trabajo
datos_originales = 'https://github.com/rlagosb/taller_eiv/raw/refs/heads/main/data/'
datos_crudos = '/content/datos_crudos/'

# Crear carpeta de trabajo
if not os.path.exists(datos_crudos): os.makedirs(datos_crudos)

# Extraer REM A07 a√±o 2021

Usaremos los Res√∫menes Estad√≠sticos Mensuales (REM) del DEIS disponibles en https://deis.minsal.cl/#datosabiertos

üîç Los REM son informes que presentan estad√≠sticas de producci√≥n sobre diferentes prestaciones agrupadas por regi√≥n, servicio y establecimiento de salud de la red p√∫blica ([DEIS](https://deis.minsal.cl/faqs/#1719866882683-6648a718-aa6b)).

‚òï Vamos a cargar los datos en un Dataframe

In [3]:
# Cargar csv de github
url_remA07 = datos_originales + 'rem_A07_2021.txt' #  Para cargar la base de datos, se utiliza la direcci√≥n de GitHub previamente definida y se incorpora el nombre del archivo a utilizar (cargar).
rem = pd.read_csv(url_remA07,sep=";") # valores se encuentran separados por punto y comas

In [4]:
# Revisar n√∫mero de registros y tipo de campos
rem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231114 entries, 0 to 231113
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         231114 non-null  int64
 1   Mes                231114 non-null  int64
 2   Ano                231114 non-null  int64
 3   IdEstablecimiento  231114 non-null  int64
 4   CodigoPrestacion   231114 non-null  int64
 5   IdRegion           231114 non-null  int64
 6   IdServicio         231114 non-null  int64
 7   IdComuna           231114 non-null  int64
 8   Col01              231096 non-null  float64
 9   Col22              231093 non-null  float64
 10  Col26              231096 non-null  float64
 11  Col32              38220 non-null   float64
 12  Col33              39488 non-null   float64
 13  Col41              16177 non-null   float64
 14  Col37              29225 non-null   float64
 15  Col38              34367 non-null   float64
dtypes: float64(8), int64(8)
memory usage: 28.2 MB

In [5]:
# Ver una muestra aleatoria de 10 filas
rem.sample(10)

,Unnamed: 0,Mes,Ano,IdEstablecimiento,CodigoPrestacion,IdRegion,IdServicio,IdComuna,Col01,Col22,Col26,Col32,Col33,Col41,Col37,Col38
135900,2793853,12,2021,105326,7021900,4,5,4201,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
198340,4055031,4,2021,116302,7022142,7,16,7301,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
191160,3879984,7,2021,200496,7022142,7,16,7102,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
45566,930929,12,2021,111100,7021801,13,11,13101,125.0,6.0,8.0,4.0,28.0,NaN,0.0,2.0
76379,1587008,9,2021,103302,7022144,2,3,2101,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2562,48453,12,2021,123311,7023703,10,23,10306,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
104028,2181407,6,2021,116331,7020900,7,16,7101,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
28988,587913,12,2021,106302,7020500,5,6,5101,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
105173,2211200,4,2021,104303,7024000,3,4,3101,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
230888,4737509,11,2021,107327,7022136,5,7,5109,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

Vamos a examinar los datos de consultas para lo cual utilizamos el diccionario REM A07, Secci√≥n Consultas M√©dicas (archivo [SA_21_V1.2-CODIGOS.xlsx](https://github.com/rlagosb/taller_eiv/blob/eeab96f341a1338e8fa81c489afa1ad98dde7f65/data/SA_21_V1.2-CODIGOS.xlsx) en *datos_originales*)

![image.png]()

In [8]:
# Ver la distribuci√≥n de las consultas
# Tomamos las columnas [filas, columnas] Consultas, Consultas Nuevas < 15 a√±os
# y Consultas Nuevas >= 15 a√±os y generamos un resumen de sus datos

rem[['Col01','Col22','Col26']].describe()

               Col01          Col22          Col26
count  231096.000000  231093.000000  231096.000000
mean       28.577647       1.535763       6.994747
std       125.390869      11.942315      40.527429
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000
max      4602.000000     554.000000    1929.000000

In [9]:
# Contar registros por Servicio de Salud
rem['IdServicio'].value_counts()

IdServicio
16    17419
15    16075
13    14581
14    13643
7     13087
10    12576
21    12538
5     12219
9     10185
18     9143
17     9099
12     9069
20     7882
6      7754
11     6665
3      6373
22     6365
24     5928
19     5814
23     5089
1      3835
4      3752
29     3657
2      3461
33     3365
28     3054
26     3030
8      2929
25     2527
Name: count, dtype: int64

In [10]:
# Contar registros de hospitales del Servicio de Salud Metropolitano Sur Oriente (IdServicio=14)
rem['IdEstablecimiento'][rem.IdServicio==14].value_counts()

IdEstablecimiento
114101    619
114105    588
114103    501
114301    454
114322    411
114332    400
114321    379
114320    368
114323    355
114329    347
114102    331
114319    330
114313    330
114303    329
114304    328
114331    325
114330    323
114326    323
114306    320
114327    314
114305    311
114315    299
114317    298
114325    297
114333    290
114302    288
114334    282
114324    281
114310    275
114309    265
114312    264
114308    263
114318    252
114307    252
114314    248
114316    244
200282    239
114311    216
114796    182
114328    147
114706    123
114714    122
200475    105
114407     99
114401     52
114607     29
114609     27
114610     24
200468     24
114606     24
114613     24
114608     23
114611     20
114612     18
200200     16
114410     14
114010     12
200375     12
114403      7
Name: count, dtype: int64

In [16]:
# Filtramos los datos de los hospitales del SSMSO
rem = rem[rem.IdServicio==14]

# Mostrar n√∫mero de registros y una muestra
print(rem.info())
rem.sample(5)

<class 'pandas.core.frame.DataFrame'>
Index: 13643 entries, 1135 to 147705
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13643 non-null  int64
 1   Mes                13643 non-null  int64
 2   Ano                13643 non-null  int64
 3   IdEstablecimiento  13643 non-null  int64
 4   CodigoPrestacion   13643 non-null  int64
 5   IdRegion           13643 non-null  int64
 6   IdServicio         13643 non-null  int64
 7   IdComuna           13643 non-null  int64
 8   Col01              13643 non-null  float64
 9   Col22              13643 non-null  float64
 10  Col26              13643 non-null  float64
 11  Col32              1977 non-null   float64
 12  Col33              2026 non-null   float64
 13  Col41              169 non-null    float64
 14  Col37              1164 non-null   float64
 15  Col38              1591 non-null   float64
dtypes: float64(8), int64(8)
memory usage: 1.8 MB
None

,Unnamed: 0,Mes,Ano,IdEstablecimiento,CodigoPrestacion,IdRegion,IdServicio,IdComuna,Col01,Col22,Col26,Col32,Col33,Col41,Col37,Col38
72703,1503627,3,2021,114306,7022143,13,14,13111,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
145266,2964923,11,2021,114304,7020332,13,14,13110,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
142467,2925869,5,2021,114302,7020230,13,14,13110,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
65554,1381791,1,2021,114334,7023700,13,14,13110,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
147318,2997127,12,2021,114319,7022143,13,14,13112,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [12]:
# Exportar a Excel
# con la base de datos rem, se exportan a la ubicaci√≥n concatenada de datos crudos + nombre de archivo
rem.to_excel(datos_crudos + 'rem_A07_2021_SSMSO.xlsx',index=False)

# tambi√©n exportamos con formato de extensi√≥n *.parquet
rem.to_parquet(datos_crudos + 'rem_A07_2021_SSMSO.parquet')

## üèÅ Discusi√≥n
¬øCu√°les son los riesgos de modificar los datos originales en esta etapa (ejemplo: cambiar nombres de las columnas, filtrar registros)?

# Extraer solicitudes de interconsulta SIGTE

In [13]:
# Cargar hojas de excel en dataframes

# concatenamos para definir la direcci√≥n excel_url, la cual almacena la direcci√≥n del archivo a analizar.
excel_url = datos_originales + 'SS_MSOr_Respuesta%20Solicitud%20Folio%20AO012T0001655%20(CNE%202021).xlsx'

#importamos desde esa url la hoja del excel llamada LE ABIERTA y posteriormente CNE EGRESOS
sic1 = pd.read_excel(excel_url,sheet_name='LE ABIERTA ')
sic2 = pd.read_excel(excel_url,sheet_name='CNE EGRESOS')

#exploramos los datos y sus propiedades
print(sic1.info(), end='\n\n') # agregamos dos espacios para separar las tablas
print(sic2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA_NAC   2499 non-null   datetime64[ns]
 1   SEXO        2499 non-null   int64
 2   TIPO_PREST  2499 non-null   int64
 3   PRESTA_MIN  2499 non-null   object
 4   PRESTA_EST  2499 non-null   object
 5   F_ENTRADA   2499 non-null   datetime64[ns]
 6   ESTAB_ORIG  2499 non-null   int64
 7   ESTAB_DEST  2499 non-null   int64
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 156.3+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149479 entries, 0 to 149478
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FECHA_NAC   149479 non-null  object
 1   SEXO        149479 non-null  int64
 2   TIPO_PREST  149479 non-null  int64
 3   PRESTA_MIN  149479 non-null  object
 4   PRESTA_EST  149479 non-null  object
 5   F_ENTRADA   149479 non-null  datetime64[ns]
 6   ESTAB_ORIG  149479 non-null  int64
 7   ESTAB_DEST  149479 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 9.1+ MB
None

In [14]:
# Juntar dataframes y ver resultante
sic = pd.concat([sic1,sic2])

print(sic.info())
sic.sample(5)

<class 'pandas.core.frame.DataFrame'>
Index: 151978 entries, 0 to 149478
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FECHA_NAC   151978 non-null  object
 1   SEXO        151978 non-null  int64
 2   TIPO_PREST  151978 non-null  int64
 3   PRESTA_MIN  151978 non-null  object
 4   PRESTA_EST  151978 non-null  object
 5   F_ENTRADA   151978 non-null  datetime64[ns]
 6   ESTAB_ORIG  151978 non-null  int64
 7   ESTAB_DEST  151978 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 10.4+ MB
None

,FECHA_NAC,SEXO,TIPO_PREST,PRESTA_MIN,PRESTA_EST,F_ENTRADA,ESTAB_ORIG,ESTAB_DEST
27638,32645,1,1,07-041,NEUROLOGIA ADULTO,2021-05-05,114101,114101
42215,34198,2,1,07-041,NEUROLOGIA ADULTO,2021-03-26,114101,114101
8344,28863,2,1,07-003,CARDIOLOGIA ADULTO,2021-01-28,114101,114101
126848,20644,2,1,09-011,PROTESIS REMOVIBLE,2021-09-07,114301,200282
69536,15681,2,1,07-029,UMFR - Fisiatra,2021-10-25,114312,200282

In [17]:
# Ver establecimientos de destino con m√°s derivaciones
sic['ESTAB_DEST'].value_counts()

ESTAB_DEST
114101    76354
114105    28807
114103    27543
200282    17928
114308      655
114323      555
114331       66
114407       19
114306       15
114325       13
114315        7
114311        6
114317        3
114319        2
114796        2
114706        1
114310        1
114302        1
Name: count, dtype: int64

In [ ]:
# Filtrar derivaciones a hospitales del SSMSO
# se crea el vector centros que almacena los c√≥digos de los hospitales pertenecientes al SSMSO

centros = [114101,114103,114105,200282] # S√≥tero del R√≠o, Padre Hurtado, La Florida, Provincia Cordillera

# Se filtra la base, buscando las filas en las que
# el c√≥digo del Establecimiento (ESTAB_DEST) se encuentran (isin) en el vector de centros.
sic = sic[sic.ESTAB_DEST.isin(centros)]

# Mostrar n√∫mero de registros y una muestra
print(sic.info())
sic.sample(5)

## üçé Desaf√≠o: Exportar extracto

Exporte los datos a la carpeta *datos_crudos* con los formatos:
1. `xlsx`
2. `csv`
3. `parquet`

‚òï Nota: si no recuerda los comandos puede usar la IA para generarlos.

### üèÅ Discusi√≥n

1. ¬øCu√°l formato es el archivo de menor tama√±o?
2. ¬øCu√°l le parece m√°s amigable para consultar?
3. ¬øCu√°l formato preferir√≠a para almacenar los datos crudos?

# Extraer proyecciones de consultas de planillas de programaci√≥n
Ahora realizaremos lo siguiente:
1. Recolecci√≥n:
  - Cargar m√∫ltiples planillas en una carpeta
  - Agregar nombre de archivo
2. Consolidaci√≥n
  - Unir en un dataframe
  - Exportar datos crudos (preprocesados) en excel/parquet

In [18]:
# definimos carpeta de origen y listado de archivos a consolidar

# Observe que en el repositorio de Github, los datos se encuentran en una subcarpeta
# concatenamos datos_originales con programacion
datos_programacion = datos_originales + 'programacion/'

#definimos un vector con nombres de plantillas
planillas = ['114105_Planilla_programacion_PM_y_PNM_2021_FN_v12.xlsx',
             '114101_Planilla_programacion_PM_y_PNM_2021_FN_v12.xlsx',
             '114103_Planilla_programacion_PM_y_PNM_2021_FN_v12.xlsx',
             '200282_Planilla_programacion_PM_y_PNM_2021_FN_v12.xlsx']

In [19]:
# cargar planillas

# creamos un dataframe vac√≠o para consolidar los datos
consolidado = pd.DataFrame()

# leemos cada nombre de planilla
for nombre_planilla in planillas:

  # cargamos los datos de la planilla en un dataframe
  datos = pd.read_excel(datos_programacion+nombre_planilla,
                        sheet_name='Resumen Programaci√≥n',
                        header=2,       # tabla empieza en la fila 3
                        usecols="B:E")  # s√≥lo cargar datos de la columnas B:E

  # agregamos el nombre de la planilla para tener la trazabilidad del dato
  datos['Archivo'] = nombre_planilla

  # agregamos los datos al consolidado
  consolidado = pd.concat([consolidado,datos])

# revisamos la informaci√≥n del consolidado
print(consolidado.info())

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 0 to 64
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Especialidad  Medica  256 non-null    object
 1   Consulta Nueva        260 non-null    int64
 2   Consulta controles    260 non-null    int64
 3   Total                 260 non-null    int64
 4   Archivo               260 non-null    object
dtypes: int64(3), object(2)
memory usage: 12.2+ KB
None

In [20]:
# revisamos una muestra
consolidado.sample(5)

,Especialidad Medica,Consulta Nueva,Consulta controles,Total,Archivo
3,ENFERMEDAD RESPIRATORIA PEDI√ÅTRICA (BRONCOPULM...,631,308,939,114103_Planilla_programacion_PM_y_PNM_2021_FN_...
35,"CIRUG√çA DE CABEZA, CUELLO Y MAXILOFACIAL",5268,1693,6961,114101_Planilla_programacion_PM_y_PNM_2021_FN_...
17,NUTRI√ìLOGO ADULTO,0,0,0,114101_Planilla_programacion_PM_y_PNM_2021_FN_...
12,HEMATO-ONCOLOG√çA INFANTIL,2449,221,2670,114101_Planilla_programacion_PM_y_PNM_2021_FN_...
9,GASTROENTEROLOG√çA PEDI√ÅTRICA,0,0,0,200282_Planilla_programacion_PM_y_PNM_2021_FN_...

In [21]:
# exportamos a excel o formato preferido
consolidado.to_excel(datos_crudos + 'programacion_2021_SSMSO.xlsx',index=False)

## üèÅ Discusi√≥n

1. ¬øQu√© beneficios tiene guardar los datos crudos aparte de los archivos originales?
2. ¬øCu√°ndo puede ser innecesario?
3. ¬øQu√© ventajas y deventajas tiene hacer esta tarea en excel?
4. ¬øQu√© ventajas y desventajas tiene hacer esta tarea con un lenguaje de programaci√≥n?

# üçé Desaf√≠o: Extraer establecimientos

1. Obtenga la base de establecimientos de salud del DEIS, ubicada en la direcci√≥n: https://repositoriodeis.minsal.cl/DatosAbiertos/Establecimientos%20DEIS%20MINSAL%2007-01-2026.xlsx
  - ‚ö† Note que el archivo tiene un t√≠tulo en la primera fila
2. Almacene el extracto en la carpeta *datos_crudos* en un formato r√°pido de cargar

# ANEXOS

# üìéANEXO: Extraer REM 2021

Extracci√≥n de Res√∫menes Estad√≠sticos Mensuales (REM) del a√±o 2021 disponibles en https://deis.minsal.cl/#datosabiertos

In [22]:
# REM 2021
url='https://repositoriodeis.minsal.cl/DatosAbiertos/REM/SERIE_REM_2021.zip'

In [23]:
# prompt: get file names from zip file in url

import requests
import zipfile
from io import BytesIO

def get_filenames_from_zip_url(url):
    """
    Retrieves a list of filenames from a zip file located at a given URL.

    Args:
        url: The URL of the zip file.

    Returns:
        A list of filenames contained within the zip file, or None if an error occurs.
    """
    try:
        response = requests.get(url, stream=True)
        response.raise_for_status()  # Raise an exception for bad status codes

        with zipfile.ZipFile(BytesIO(response.content)) as z:
            return z.namelist()
    except requests.exceptions.RequestException as e:
        print(f"Error downloading file: {e}")
        return None
    except zipfile.BadZipFile:
        print("Error: Invalid zip file.")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None


filenames = get_filenames_from_zip_url(url)

if filenames:
    print("Filenames in the ZIP archive:")
    for filename in filenames:
        print(filename)
else:
    print("Could not retrieve filenames from the ZIP archive.")

Filenames in the ZIP archive:
2021/
2021/DICCIONARIOS/
2021/DICCIONARIOS/SA_21_V1.2-CODIGOS.xlsm
2021/DICCIONARIOS/SBM_21_V1.0-CODIGOS.xlsm
2021/DICCIONARIOS/SBS_21_V1.0 CODIGOS.xlsm
2021/DICCIONARIOS/SD_21_V1.0-CODIGOS.xlsm
2021/DICCIONARIOS/SP_21_V1.1 CODIGOS.xlsm
2021/SerieA_2021.txt
2021/SerieBM_2021.txt
2021/SerieBS_2021.txt
2021/SerieD_2021.txt
2021/SerieP_2021.txt

In [ ]:
# prompt: read txt file '2021/SerieA_2021.txt' from zipped file

import requests
import zipfile
from io import BytesIO

# ... (Your existing code for downloading and listing files) ...

def read_txt_from_zip(url, filename):
    """Reads a text file from within a zip archive located at a given URL.

    Args:
      url: The URL of the zip file.
      filename: The name of the text file within the zip archive.

    Returns:
      A pandas DataFrame containing the data from the text file,
      or None if an error occurs.
    """
    try:
      response = requests.get(url, stream=True)
      response.raise_for_status()

      with zipfile.ZipFile(BytesIO(response.content)) as z:
          with z.open(filename) as f:
              df = pd.read_csv(f, sep=";",low_memory=False) # Adjust separator if needed
              return df
    except KeyError:
        print(f"Error: File '{filename}' not found in the zip archive.")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

# Example usage:
df = read_txt_from_zip(url, '2021/SerieA_2021.txt')

if df is not None:
    print(df.head())

In [ ]:
df.info()

## Diccionario REM-07. ATENCI√ìN DE ESPECIALIDADES
*Archivo: SA_21_V1.2-CODIGOS.xlsm*


- TOTAL CONSULTAS: COL01
- TOTAL CONSULTAS NUEVAS
  - COL22: TOTAL Menos 15 a√±os
  - COL26: TOTAL De 15 y m√°s a√±os
- INASISTENTE A CONSULTA M√âDICA (NSP):
  - COL32 (NUEVAS)
  - COL33 (CONTROLES)
- COMPRA DE SERVICIO: COL41
- ALTA DE CONSULTA DE ESPECIALIDAD AMBULATORIA
  - COL37 "Menos 15 a√±os"
  - COL38 "15 y m√°s a√±os"

In [ ]:
def obtener_rem():
  # Filtrar columnas
  columnas=['Mes', 'Ano', 'IdEstablecimiento', 'CodigoPrestacion',
            'IdRegion', 'IdServicio', 'IdComuna',
            'Col01','Col22','Col26','Col32','Col33','Col41','Col37','Col38']
  rem = df[columnas].copy()

  # Filtrar prestaciones (consultas m√©dicas REM A07)
  # {07020130:'PEDIATR√çA',07020230:'MEDICINA INTERNA',07020330:'NEONATOLOG√çA',07020331:'ENFERMEDAD RESPIRATORIA PEDI√ÅTRICA (BRONCOPULMONAR INFANTIL)',07020332:'ENFERMEDAD RESPIRATORIA DE ADULTO (BRONCOPULMONAR)',07024219:'CARDIOLOG√çA PEDI√ÅTRICA',07020500:'CARDIOLOG√çA ADULTO',07020501:'ENDOCRINOLOG√çA PEDI√ÅTRICA',07020600:'ENDOCRINOLOG√çA ADULTO',07020601:'GASTROENTEROLOG√çA PEDI√ÅTRICA',07020700:'GASTROENTEROLOG√çA ADULTO',07020800:'GEN√âTICA CL√çNICA',07020801:'HEMATO-ONCOLOG√çA INFANTIL',07020900:'HEMATOLOG√çA ADULTO',07020901:'NEFROLOG√çA PEDI√ÅTRICA',07021000:'NEFROLOG√çA ADULTO',07021001:'NUTRI√ìLOGO PEDI√ÅTRICO',07021100:'NUTRI√ìLOGO ADULTO',07021101:'REUMATOLOG√çA PEDI√ÅTRICA',07021230:'REUMATOLOG√çA ADULTO',07021300:'DERMATOLOG√çA',07021301:'INFECTOLOG√çA PEDI√ÅTRICA',07022000:'INFECTOLOG√çA ADULTO',07022001:'INMUNOLOG√çA',07021531:'GERIATR√çA',07022132:'MEDICINA F√çSICA Y REHABILITACI√ìN PEDI√ÅTRICA (FISIATR√çA PEDI√ÅTRICA)',07022133:'MEDICINA F√çSICA Y REHABILITACI√ìN ADULTO (FISIATR√çA ADULTO)',07022134:'NEUROLOG√çA PEDI√ÅTRICA',07021700:'NEUROLOG√çA ADULTO',07021800:'ONCOLOG√çA M√âDICA',07021801:'PSIQUIATR√çA PEDI√ÅTRICA Y DE LA ADOLESCENCIA',07021900:'PSIQUIATR√çA ADULTO',07022130:'CIRUG√çA PEDI√ÅTRICA',07022142:'CIRUG√çA GENERAL ADULTO',07022143:'CIRUG√çA DIGESTIVA (ALTA)',07022144:'CIRUG√çA DE CABEZA, CUELLO Y MAXILOFACIAL',07022135:'CIRUG√çA PL√ÅSTICA Y REPARADORA PEDI√ÅTRICA',07022136:'CIRUG√çA PL√ÅSTICA Y REPARADORA ADULTO',07022137:'COLOPROCTOLOG√çA (CIRUGIA DIGESTIVA BAJA)',07022700:'CIRUG√çA T√ìRAX',07022800:'CIRUG√çA VASCULAR PERIF√âRICA',07022900:'NEUROCIRUG√çA',07021701:'CIRUG√çA CARDIOVASCULAR',07023100:'ANESTESIOLOG√çA',07023200:'OBSTETRICIA',07023201:'GINECOLOG√çA PEDI√ÅTRICA Y DE LA ADOLESCENCIA',07023202:'GINECOLOG√çA ADULTO',07023203:'OFTALMOLOG√çA',07023700:'OTORRINOLARINGOLOG√çA',07023701:'TRAUMATOLOG√çA Y ORTOPEDIA PEDI√ÅTRICA',07023702:'TRAUMATOLOG√çA Y ORTOPEDIA ADULTO',07023703:'UROLOG√çA PEDI√ÅTRICA',07024000:'UROLOG√çA ADULTO',07024001:'MEDICINA FAMILIAR DEL NI√ëO',07024200:'MEDICINA FAMILIAR',07030500:'MEDICINA FAMILIAR ADULTO',07024201:'DIABETOLOG√çA',07024202:'MEDICINA NUCLEAR (EXCLUYE INFORMES)',07030501:'IMAGENOLOG√çA',07030502:'RADIOTERAPIA ONCOL√ìGICA'}
  prestaciones = ['07020130','07020230','07020330','07020331','07020332','07024219','07020500','07020501','07020600','07020601','07020700','07020800','07020801','07020900','07020901','07021000','07021001','07021100','07021101','07021230','07021300','07021301','07022000','07022001','07021531','07022132','07022133','07022134','07021700','07021800','07021801','07021900','07022130','07022142','07022143','07022144','07022135','07022136','07022137','07022700','07022800','07022900','07021701','07023100','07023200','07023201','07023202','07023203','07023700','07023701','07023702','07023703','07024000','07024001','07024200','07030500','07024201','07024202','07030501','07030502']
  rem = rem[rem.CodigoPrestacion.isin(prestaciones)]
  return rem

remA07 = obtener_rem()
print(remA07.info())
remA07.sample(5)

In [ ]:
# Exportar a archivo csv
remA07.to_csv('rem_A07_2021.txt',sep=";")